<section class="hero is-info is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                User Directory
            </h1>
            <h2 class="subtitle">
                Enter a search keyword to find a user
            </h2>
        </div>
    </div>
</section>


<div class="container has-background-white">
    <div class="column is-half is-offset-one-quarter-desktop">
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input" type="text" ng-model="search" placeholder="Type user name to filter results">
                <span class="icon is-small is-left">
      <i class="fas fa-search"></i>
    </span>
            </p>

        </div>

    </div>
</div>
    <div ng-if="showLoading">
        <div class="container">
            <div id="loading-bar-spinner" class="spinner"><div class="spinner-icon"></div></div>
        </div>
    </div>
    <div ng-if="showResults">
        <span class="text">{{ (users | filter: search).length}} Results</span>
    <div class="container" ng-repeat="user in users | filter: search">
        <div class="column is-half is-offset-one-quarter-desktop margin-space">
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <figure>
                            <img src="{{user.picture.large}}" alt="Image">
                        </figure>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>{{user.name.first}} {{user.name.last}}</strong>
                                <br>
                                <div>{{user.location.street}}</div>
                                <span>{{user.location.city}}, {{user.location.state}}, {{user.location.postcode}}</span>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        </div>

    </div>



        <div ng-if="(users | filter: search).length === 0">
            <div class="container" ng-repeat="user in users">
                <div class="column is-half is-offset-one-quarter-desktop">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure>
                                    <img src="{{user.picture.large}}" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{user.name.first}} {{user.name.last}}</strong>
                                        <br>
                                    <div>{{user.location.street}}</div>
                                    <span>{{user.location.city}}, {{user.location.state}}, {{user.location.postcode}}</span>
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
  </div>